<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../static/images/quran-verses final.png"></link>
    <title>Al Quran</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
 
    <div class="navbar">
        <div id="menu">
          <div id="bar1" class="bar"></div>
          <div id="bar2" class="bar"></div>
          <div id="bar3" class="bar"></div>          
        </div>
      <div class="dropdown">
        <button class="dropbtn" id="current-surah">Go To Surah</button>
        <div class="dropdown-content" id="surah-options"></div>
      </div>
      <div class="dropdown">
        <button class="dropbtn" id="goto-ayah">
          Go to Ayah
          <span>&#9660</span>
        </button>
        <div class="dropdown-content" id="ayah-options"></div>
      </div>
      
    </div>
    <ul id="sidenav" class="sidenav">
         <li><button id="closeNav">&#10006</button></li>
         <li><img  src="../static/images/quran-verses.png"></li>
        <li><a class='subscribe' href="#">Subscribe </a></li>
        <li><a href="#">Help & feedback</a></li>
        <li><a href="/templates/read/contribute.html">Contribute</a></li>
        </ul>
    <div class="container">{% block content %} {% endblock content %}</div>
  </body>
  <script src="{% static 'js/app.js' %}"></script>
  
</html>
