<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/images/quran-verses final.png"></link>
    <title>Quran-Verses</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
  {% include "read/modal.html" %}
    <div class="spinner"
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
 
    <div class="navbar">
        <div id="menu">
          <div id="bar1" class="bar"></div>
          <div id="bar2" class="bar"></div>
          <div id="bar3" class="bar"></div>          
        </div>
      {% if view == 'home' %}
      <div class="dropdown">
        <button class="dropbtn" id="current-surah">Go To Surah</button>
        <div class="dropdown-content" id="surah-options"></div>
      </div>
      <div class="dropdown">
        <button class="dropbtn" id="goto-ayah">
          Go to Ayah
          <span>&#9660</span>
        </button>
        <div class="dropdown-content" id="ayah-options"></div>
      </div>
      {% endif %}
    </div>
      <ul  id="sidenav" class="sidenav">
         <li>  <a href="{% url 'home' %}" >&#127968</a>  <button id="closeNav">&#10006</button> </li>         
         <li><img  src="../static/images/quran-verses.png"></li>
        <li><a class='subscribe' href="#">Subscribe </a></li>
        <li><a href="{% url 'feedback'  %}">Help & feedback</a></li>
        <li><a href="{% url 'contribute' %}">Contribute</a></li>
        <li><a href="https://github.com/faisaluddin/quran-django/issues/new">Report an issue</a></li>
        <li class="powered-by" >Powered by: <a href="https://alquran.cloud/"> Al-Quran Cloud </a></li>
        </ul>
         
    <div class="container">{% block content %} {% endblock content %}</div>
  </body>
  {% if view == 'home'%}
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/hamburger.js' %}"></script>
  {% else %}
    <script src="{% static 'js/hamburger.js' %}"></script>
  {% endif %}
  
</html>
