{% extends 'read/base.html' %} {% block content %}

    <div class="contribute-container">
    <img class="image_contribute" src="../static/images/quran-verses.png"/>
    <h1 >quranverses.com</h1>
  </div>
  <div class="body_contribute">
  <h2>About us</h2>
  <span> We have started this application for our brothers & sister to understand our Noble Quran better and in an easier way.
  In todays busy world one can find more than enough time for reciting and understanding Quran and other may not findtime for atleast
  reading it. Our application helps those people to recite and understand atleast one ayah per day .</span>

  <h2>How you can help</h2>
  <span>We are using this application just for letting others explore about Islam more and more. We are not using this 
  as a source of business/profit. we started this app personally but to keep going on we will be needing your help.
  For maintaining this application we have:
  <ul>
  <li>Server charges</li>
  <li>Domain charges</li>
  <li>Whatsapp API charges</li>
  </ul>
  And we are not investing any funds in buying Payment API's as we just started. So, You can directly contribute any amount 
  to our googlePay numbers @6301422946 & @7386077611 . Your amount will not be misused and will only be used to maintain and make 
  this application better.
  </span>

  <h2>What's next</h2>
  <span>Quranverses.com started helping people just by giving knowledge about quran. But we need to continue innovating 
  our product and adding more and more features like Kalima's, Hadith's, Prophet stories , sunna's and much more.
  Please keep supporting so that we grow this application to an extent that this will be useful to more & more people &#128578.
  </span>
  </div>
 
{% endblock %}

