{% extends 'read/base.html' %} {% block content %}
    <div class="modal">
      <div class="pop-up">
        <button id="close">&#10005</button>
        <div class="" id="heading-modal">
          <span>
            Please register with your whatsapp number to get one ayah daily
          </span>
        </div>
        <form id="modal-form">
          <div>
            <label>Name :</label>
            <input class="input" type="text" />
          </div>
          <div>
            <label>Phone :</label>
            <input class="input" type="number" />
          </div>
          <button class="input button" id="btn">Subscribe</button>
        </form>
        <div class="modal-footer">
          <span>
            If you want to contribute any amount,Please googlePay @6301422946/
            @7386077611.
          </span>
          <span>
            This amount will be used for the maintainence of this app. Thank you
            &#128522
          </span>
        </div>
      </div>
    </div>

    <!-- All the ayah. children generated via JS -->
    <div class="surah-container">
        <div class="surah-header">
          <div id="surah-info">
            <span id="no-of-ayah"></span>
            <span id="revelation-type"></span>
          </div>
          <div class="surah-player">
            <span>Play surah:</span>
            <audio id="surah-audio" width="1" controls="" preload="none">
              <source src="" type="audio/mpeg" />
            </audio>
          </div>
        </div>
        <div class="ayah-container"></div>
    </div>
    

    <!-- Next and previous button -->
    <div class="buttons">
      <button class="button" id="previous">Previous</button>
      <button class="button" id="next">Next</button>
    </div>

{% endblock %}
